# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/

# mypy / ruff
.mypy_cache/
.ruff_cache/

# IDEs
.vscode/
.idea/

# vidts generated output
output/*
!output/.gitkeep
docs/
